/*------------------------------------*\
    # Container
\*------------------------------------*/

.container {
    max-width: 55rem;
    margin: 0 auto;
    padding: 0 $m-size; 
}

@media ( min-width: $desktop-breakpoint ) {
    .container {
        max-width: 120rem;
    }
}