/*------------------------------------*\
    # Settings
\*------------------------------------*/

// Fonts
@import url('https://fonts.googleapis.com/css?family=Roboto:400,700|Staatliches&subset=latin-ext');

// Colors
$purple: #4E5283;
$off-purple: #7871AA;
$light-purple: #D9BBF9;
$white: #F9F4F5;

// Spacing
$s-size: 1.2rem;
$m-size: 1.6rem;
$l-size: 3.2rem;
$xl-size: 8.8rem;

// Breakpoints
$desktop-breakpoint: 55rem;